
/* ============== General Elements ================ */
body{
	background: #ffffff;
	font-family: sans-serif;
	padding: 5px;

	/*Set a variable for the main accent color*/
	--main-accent-color: #00b3b3;
	--secondary-accent-color: #196666;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

a:link {
    color: var(--main-accent-color);
    text-decoration: none;
}

a:visited {
	color: var(--main-accent-color);
    text-decoration: none;
}

a:hover {
	color: var(--secondary-accent-color);
    text-decoration: underline;
}

a:active {
	color: var(--secondary-accent-color);
    text-decoration: underline;
}


/* ============== Header Elements ================ */
.header {
	padding-top: 50px;
	padding-bottom: 50px;
	vertical-align: center;
}

.header-title {
	text-align: center;
	font-size: 3em;
	padding-bottom: 20px;
}

.header-image {
	vertical-align: center;
}

.header-image img {
	display: block;
	width: 100%;
}

#header-text {
	display: block;
	vertical-align: center;
	text-align: left;
}

#profile-pic {

}

#site-title {

}

#intro-blurb {

}

.connect {
	padding-top: 20px;
	display: inline-block;
}

.connect-button {
    padding-top: 20px;
	display: inline-block;
}

.connect a {
	padding-left: 7px;
	padding-right: 7px;
}

/* ============== Main Content Elements ================ */
.crop {
	height:auto;
    width: 100%;
    overflow: hidden;
}

.crop img {
	display: block;
  	width: 100%;
  	height: auto;
}

.section {
	padding: 20px;
}

.section-header {
	text-align: left;
}

.project-entry {
	padding-bottom: 40px;
}

.project-thumbnail {
}

.project-thumbnail img {
	padding-left: 10px;
	padding-right: 10px;
}

.project-details {
	text-align: left;
}

.project-title {

}

.project-subtitle {
	font-style: italic;
}

.project-description {
	
}

.project-resources {
	
}

.resource-button {
    background-color: white; 
    border: 1px solid var(--main-accent-color);
    color: black;
    border-radius: 4px;

    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.resource-button:hover {
	background-color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
    color: white;
}

/* ============== Footer Elements ================ */
/* Set black background color, white text and some padding */
footer {
	color: gray;
	padding: 15px;
	width:100%;
	position:relative;
	bottom:0;
	left:0;
	clear: both;
}

#credits {
    font-size: 10pt;
}

#mini-credits {
    font-size: 8pt;
}
/* ============== Screen-Adaptiveness ================ */
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
}